@model OrmeauCarols.Controllers.IndexViewModel
@{
    ViewBag.Title = "Winter Wonderland - Ormeau Carols 2012";
}

<header>
    <img src="/Content/images/header.png" alt="Winter Wonderland - ORMEAU CAROLS 2012" />
</header>
<div id="main" role="main">
    <div id="content">
        <div id="left-col">
            <div id="feature">
                <a href="#" onclick="playVideo()"><img src="/Content/images/videothumbnail.jpg" alt="Watch the promotional video" /></a>
            </div>
            <img id="main-details" src="/Content/images/MainDetails2.png" alt="Sunday Dec 9/Brien Harris Oval/Free Rides/Food/Santa/Fireworks/4:30pm festivities/7:30pm show" />
            <img id="about-header" src="/Content/images/about.png" alt="about ormeau carols" />
            <p>The Ormeau Carols has been bringing Christmas to the Community for over 15years.</p>
            <p>Driven and performed by the amazing people from Highway Christian Church, the show is full of life and fun.</p>
            <p>You’ll sing along to your favourite Christmas carols, be entertained by the larger than life characters, and most importantly celebrate Christmas as a community.</p>
            <p>Our local businesses make it all possible by supporting the event through financial sponsorships and product or service donations. We sincerely thank those that have come and are yet to come on board in this way.</p>
            <p>Whether you are 5 years old and are there to see Santa, 35 years old and can’t wait for the fireworks, or 85 years old and are desperately hoping to be chosen for Carolokee, this show is for you!</p>
            <p>We have already begun preparing a cracker show, based on bringing you a 'Winter Wonderland'. Why not come early and entertain your family with free rides and attractions and a wide selection of food and drink.</p>
            <p>It won’t be Christmas without you!</p>
       
            <img id="Sponsorship Opportunities" src="/Content/images/SponsorOpp.png" alt="Sponsorship Opportunities" />
            <p>If you would like to contact us about sponsoring the Ormeau Carols, please email <a href = "mailto:carols.sponsor@highway.com.au">carols.sponsor@highway.com.au</a></p>
              <img id="2012 Sponsorship Info" src="/Content/images/2012 Sponsorship Info.jpg" alt="Sponsorship Info" />
              <p></p>
              <img id="2012 Sponsorship Packages" src="/Content/images/2012 Sponsorship Packages.jpg" alt="Sponsorship Packages" />
        </div>
        <div id="right-col">
            <div class="panel twitter-panel">
                <div class="panel-content">
                    <a href="http://twitter.com/?q=ormeau+carols#!/OrmeauCarols" target="_blank" class="external-link">Follow us on Twitter</a>
                    @foreach (var tweet in Model.Tweets)
                    {
                        <p>@tweet.Message - <a href="@tweet.LinkUrl">@tweet.User</a></p>
                    }
                </div>
            </div>
            <div class="panel facebook-panel">
                <div class="panel-content">
                    <a href="http://www.facebook.com/pages/Ormeau-Carols/246744065349913" target="_blank" class="external-link">Follow us on Facebook</a>
                    <p>I loved Ormeau Carols 2011 - best ever! Can't wait for this year! <a href="#">Nathan Azzopardi</a></p>
                    <p>My kids loved the rides and all the fun we had in the show. Thanks!<a href="#">Kelley Nebauer</a></p>
                </div>
            </div>
            <div class="panel sponsor-panel">
                <a href="/Content/pdf/Ormeau Carols 2012 Sponsorship Information.pdf" target="_blank">
                    <img src="/Content/images/sponsorpanel.jpg"/>
                </a>
            </div>
            <div>
                <a href="http://www.highway.com.au" target="_blank"><img src="/Content/images/Blue Logo small.png" /></a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>